@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}


body {

    display: flex;
    background-color: #F1EEEE;
    font-family: 'Nunito', sans-serif;
}


/*------------------------------------menu-----------------------------------------------*/
.menu {
    width: 369px;
    height: 100%;
    background-color: #838E84;
    border-radius: 0 30px 30px 0;
    /* rounded on right side only */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 30px;


}

.title {
    font-size: 80px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0;
    display: center;
}

.menu a {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
    margin-top: 10px;

}

.menu a:hover {
    color: #4E5C4F;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: #ffffff;
    margin: 5px 0;
}

/*-------------------------------------middle-------------------------------------------*/

.table {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1458px;
    height: 680px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1306px;
    height: 581px;
    position: relative;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: 10px;
}

.big-cat,
.big-clothes {
    width: 550px;
    height: 550px;
    border-radius: 30px;
    transform: scale(0.8);
    margin-bottom: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    border: 5px solid #cccccc;

}

.cat-pic-data,
.clothes-pic-data{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.name {
    position: absolute;
    bottom: 0;
    font-size: 32px;
    color: #4E5C4F;
    font-weight: 400;
    cursor: pointer;
    background-color: #F6F0F0;
    padding: 20px 100px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
    gap: 10px;
}


.name:hover {
    background-color: #dcdcdc;
}


.button-container {
    position: fixed;
    bottom: 50px;
    left: 60%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 100;
}


.next-button {
    font-family: 'Nunito', sans-serif;
    width: 260px;
    height: 100px;
    background-color: #4E5C4F;
    border-radius: 100px;
    font-size: 36px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-button:hover {
    background-color: #2c342c;
}

.back {
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: #838E84;
    font-size: 24px;
    font-weight: 200;
    top: 20px;
}


.back:hover {
    color: rgb(29, 44, 36);
}


