@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    background-color: #F1EEEE;
    font-family: 'Nunito', sans-serif;
}



/*---------------------------------------------------------- HEADER ----------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 111px;
    background-color: #838e84;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    /* centers horizontally */
    align-items: center
}

.back {
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
}


.back:hover {
    color: rgb(29, 44, 36);
}

.title {
    font-size: 64px;
    font-weight: 200;
    color: #ffffff;
}


/*---------------------------------------------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

/*-----------------------------big picture-----------------------------------------*/

.rectangle-cat {
    width: 765px;
    height: 765px;
    background-color: #ffffff;
    border-radius: 30px;
    transform: scale(0.8);
    position: absolute;
    bottom: 0;
    margin: 60px;
    right: 0;
    margin-right: 20px;
      border: 50px solid #838E84;
}


.cat-pic-data {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/*---------------------------list-----------------------------*/

.data-cats {
    position: relative;
    list-style-type: none;
    font-size: 36px;
    color: #333;
    align-self: flex-start;
    width: 728px;
    margin-top: 180px;

}

.data-cats li {
    margin-bottom: 30px;
}

.data-cats li:last-child {
    margin-bottom: 0;
}






